<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BootStrap</title>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <style>
        .square{
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="btn-group d-flex" role="group">
            <a href="#" class="btn w-100 btn-primary">btn-primary</a>
            <a href="#" class="btn w-100 btn-info">btn-info</a>
            <a href="#" class="btn w-100 btn-outline-dark">btn-outline-dark</a>
            <a href="#" class="btn w-100 btn-danger">btn-danger</a>
            <a href="#" class="btn w-100 btn-warning">btn-warning</a>
        </div>
        <br>
        <br>
    </div>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1">
                温度
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1">
                湿度
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1">
                CO2
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1">
                PM2.5
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1">
                甲醛
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>