<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BootStrap</title>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="icon" href="../static/img/logo.png" />
    <style type="text/css">
        .square{
            height: 50px;
            text-align: center;
        }
        .index{
            margin-top: 1px;
            font-size: 20px;
        }
        .progress{
            height: 24px;
        }
    </style>

</head>
<body>
    <div class="container btn-group">
        <div class="col-sm-11"></div>
        <div class="col-sm-1">
            <img style="width: 200px;margin: 30px" src="../static/img/横向logo.png">
        </div>
    </div>
    <!--
    <div class="container top">
        <div class="btn-group d-flex" role="group">
            <a href="#" class="btn w-100 btn-primary">btn-primary</a>
            <a href="#" class="btn w-100 btn-info">btn-info</a>
            <a href="#" class="btn w-100 btn-outline-dark">btn-outline-dark</a>
            <a href="#" class="btn w-100 btn-danger">btn-danger</a>
            <a href="#" class="btn w-100 btn-warning">btn-warning</a>
        </div>
        <br>
        <br>
    </div>
    -->
    <div class="container">
        <div class="btn-group btn-block">
            <div class="btn col-sm-4" ></div>
            <div class="btn col-sm-4">
                <p style="text-align: center; font-size: 35px; margin-bottom: 50px">
                    空气质量对比图
                </p>
            </div>
            <div class="btn col-sm-4"></div>
        </div>
    </div>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1 index">
                温度
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div id="1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div id="2" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1 index">
                湿度
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div id="3" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div id="4" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1 index">
                CO2
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div id="5" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div id="6" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1 index">
                PM2.5
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div id="7" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div id="8" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container square">
        <div class="row">
            <div class="col-sm-1 index">
                甲醛
            </div>
            <div class="col-sm-11" style="height: 1000px">
                <div class="progress">
                    <div id="9" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                        62%
                    </div>
                </div>
                <div class="progress">
                    <div id="10" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                        62%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
<script type="text/javascript">
    for(var i=1; i<11; i++){
        _id = toString(i);
        var a = document.getElementById(i);
        console.log('kk');
        var value_ = a.style.width;
        console.log('value',value_,i);
        a.innerHTML = value_
    }

</script>
</html>